cache/
config/AppliedEnergistics2/
config/splash.properties
*.recipe
journymap/
local/
logs/
mods/
saves/
server-resource-packs/
structures/
TombManyGraves/
.ReAuth.cfg
BotaniaVars.dat
*.log
icon.png
OpenComputersMod-1.7.2.67-lua52-native.64.dll
OpenComputersMod-1.7.2.67-lua53-native.64.dll
realms_persistence.json
config/worldedit/worldedit.properties
config/betterbuilderswands.cfg
config/AppliedEnergistics2/aerecipes/items.csv
config/AppliedEnergistics2/aerecipes/items.csv
config/buildcraft/detailed.properties
config/InvTweaks.cfg
config/worldedit/worldedit.properties
config/splash.properties
config/worldedit/worldedit.properties
config/splash.properties
config/randomtweaks/timeofdayoverlayworlds.json
config/InvTweaks.cfg
config/buildcraft/detailed.properties
config/AppliedEnergistics2/Facades.cfg
config/AppliedEnergistics2/AppliedEnergistics2.cfg
config/AppliedEnergistics2/aerecipes/items.csv
config/randomtweaks/timeofdayoverlayworlds.json
config/buildcraft/detailed.properties
config/jei/worldSettings.cfg
config/randomtweaks/timeofdayoverlayworlds.json
resources/pack.mcmeta
