# Configuration file

allow {
    B:"minecraft:bat"=true
    B:"minecraft:blaze"=true
    B:"minecraft:cave_spider"=true
    B:"minecraft:chicken"=true
    B:"minecraft:cow"=true
    B:"minecraft:creeper"=true
    B:"minecraft:donkey"=true
    B:"minecraft:elder_guardian"=true
    B:"minecraft:ender_dragon"=true
    B:"minecraft:enderman"=true
    B:"minecraft:endermite"=true
    B:"minecraft:evocation_illager"=true
    B:"minecraft:ghast"=true
    B:"minecraft:giant"=true
    B:"minecraft:guardian"=true
    B:"minecraft:horse"=true
    B:"minecraft:husk"=true
    B:"minecraft:illusion_illager"=true
    B:"minecraft:llama"=true
    B:"minecraft:magma_cube"=true
    B:"minecraft:mooshroom"=true
    B:"minecraft:mule"=true
    B:"minecraft:ocelot"=true
    B:"minecraft:parrot"=true
    B:"minecraft:pig"=true
    B:"minecraft:polar_bear"=true
    B:"minecraft:rabbit"=true
    B:"minecraft:sheep"=true
    B:"minecraft:shulker"=true
    B:"minecraft:silverfish"=true
    B:"minecraft:skeleton"=true
    B:"minecraft:skeleton_horse"=true
    B:"minecraft:slime"=true
    B:"minecraft:snowman"=true
    B:"minecraft:spider"=true
    B:"minecraft:squid"=true
    B:"minecraft:stray"=true
    B:"minecraft:vex"=true
    B:"minecraft:villager"=true
    B:"minecraft:villager_golem"=true
    B:"minecraft:vindication_illager"=true
    B:"minecraft:witch"=true
    B:"minecraft:wither"=true
    B:"minecraft:wither_skeleton"=true
    B:"minecraft:wolf"=true
    B:"minecraft:zombie"=true
    B:"minecraft:zombie_horse"=true
    B:"minecraft:zombie_pigman"=true
    B:"minecraft:zombie_villager"=true
}


tweaks {
    # The list of blocks carriable by endermen. [default: [minecraft:red_flower], [minecraft:netherrack], [minecraft:red_mushroom], [minecraft:tnt], [minecraft:pumpkin], [minecraft:dirt], [minecraft:gravel], [minecraft:mycelium], [minecraft:sand], [minecraft:clay], [minecraft:melon_block], [minecraft:grass], [minecraft:brown_mushroom], [minecraft:cactus], [minecraft:yellow_flower]]
    S:endermanCarriable <
        minecraft:red_flower
        minecraft:netherrack
        minecraft:red_mushroom
        minecraft:tnt
        minecraft:pumpkin
        minecraft:dirt
        minecraft:gravel
        minecraft:mycelium
        minecraft:sand
        minecraft:clay
        minecraft:melon_block
        minecraft:grass
        minecraft:brown_mushroom
        minecraft:cactus
        minecraft:yellow_flower
     >
}


