# Configuration file

rules {
    # if true, mod will ignore excluded mobs; if false, mod will only adjust included mobs [default: true]
    B:blacklist=true

    # list of difficulties in which the mod will work if difficultyLock is set to true [default: [Ljava.lang.String;@6aeb877f]
    S:difficulties <
        easy
     >

    # if true, mod will only work on listed difficulties; if false, it will always work [default: false]
    B:difficultyLock=true

    # list of entities that will still attack the player [default: [Ljava.lang.String;@308aad02]
    S:exclusions <
        minecraft:cow
     >

    # list of entities that will not attack the player [default: [Ljava.lang.String;@5fc77d07]
    S:inclusions <
        minecraft:zombie
     >

    # if true, mobs will attack you back; if false, they will never attack you back [default: false]
    B:revenge=true
}


