# Configuration file

general {
    # Whether material._internal_render1.name should be used for armor parts
    S:_internal_render1=true

    # Whether material._internal_render2.name should be used for armor parts
    S:_internal_render2=true

    # Whether material._internal_render3.name should be used for armor parts
    S:_internal_render3=true

    # Whether material._internal_render4.name should be used for armor parts
    S:_internal_render4=true

    # Whether material._internal_renderstring.name should be used for armor parts
    S:_internal_renderstring=true

    # Whether Alumite should be used for armor parts
    S:alumite=true

    # Whether Ardite should be used for armor parts
    S:ardite=true

    # Whether Blazerod should be used for armor parts
    S:blaze=true

    # Whether Blue Slime should be used for armor parts
    S:blueslime=true

    # Whether Bone should be used for armor parts
    S:bone=true

    # Whether Bronze should be used for armor parts
    S:bronze=true

    # Whether Cactus should be used for armor parts
    S:cactus=true

    # Whether Certus Quartz should be used for armor parts
    S:certusquartz_plustic=true

    # Whether Cobalt should be used for armor parts
    S:cobalt=true

    # Whether Constantan should be used for armor parts
    S:constantan=true

    # Whether Copper should be used for armor parts
    S:copper=true

    # Whether Electrum should be used for armor parts
    S:electrum=true

    # Whether Enderium should be used for armor parts
    S:enderium_plustic=true

    # Whether Endrod should be used for armor parts
    S:endrod=true

    # Whether End should be used for armor parts
    S:endstone=true

    # Whether Feather should be used for armor parts
    S:feather=true

    # Whether Firewood should be used for armor parts
    S:firewood=true

    # Whether Flint should be used for armor parts
    S:flint=true

    # Whether Fluix Crystal should be used for armor parts
    S:fluixcrystal_plustic=true

    # Whether Hemp Fiber should be used for armor parts
    S:hemp=true

    # Whether Ice should be used for armor parts
    S:ice=true

    # Whether Invar should be used for armor parts
    S:invar=true

    # Whether Iridium should be used for armor parts
    S:iridium=true

    # Whether Iron should be used for armor parts
    S:iron=true

    # Whether Knightslime should be used for armor parts
    S:knightslime=true

    # Whether Lead should be used for armor parts
    S:lead=true

    # Whether Leaf should be used for armor parts
    S:leaf=true

    # Whether Lumium should be used for armor parts
    S:lumium_plustic=true

    # Whether Magma Slime should be used for armor parts
    S:magmaslime=true

    # Whether Manyullyn should be used for armor parts
    S:manyullyn=true

    # Whether Netherrack should be used for armor parts
    S:netherrack=true

    # Whether Nickel should be used for armor parts
    S:nickel=true

    # Whether Obsidian should be used for armor parts
    S:obsidian=true

    # Whether Osgloglas should be used for armor parts
    S:osgloglas=true

    # Whether Osmiridium should be used for armor parts
    S:osmiridium=true

    # Whether Osmium should be used for armor parts
    S:osmium=true

    # Whether Paper should be used for armor parts
    S:paper=true

    # Whether Peridot should be used for armor parts
    S:peridot=true

    # Whether Pig Iron should be used for armor parts
    S:pigiron=true

    # Whether Platinum should be used for armor parts
    S:platinum_plustic=true

    # Whether Prismarine should be used for armor parts
    S:prismarine=true

    # Whether Psigem should be used for armor parts
    S:psigem=true

    # Whether Psimetal should be used for armor parts
    S:psimetal=true

    # Whether Reeds should be used for armor parts
    S:reed=true

    # Whether Refined Glowstone should be used for armor parts
    S:refinedglowstone=true

    # Whether Refined Obsidian should be used for armor parts
    S:refinedobsidian=true

    # Whether Ruby should be used for armor parts
    S:ruby=true

    # Whether Sapphire should be used for armor parts
    S:sapphire=true

    # Whether Signalum should be used for armor parts
    S:signalum_plustic=true

    # Whether Silver should be used for armor parts
    S:silver=true

    # Whether Slime should be used for armor parts
    S:slime=true

    # Whether Slimeleaf should be used for armor parts
    S:slimeleaf_blue=true

    # Whether Slimeleaf should be used for armor parts
    S:slimeleaf_orange=true

    # Whether Slimeleaf should be used for armor parts
    S:slimeleaf_purple=true

    # Whether Slimevine should be used for armor parts
    S:slimevine_blue=true

    # Whether Slimevine should be used for armor parts
    S:slimevine_purple=true

    # Whether Sponge should be used for armor parts
    S:sponge=true

    # Whether Steel should be used for armor parts
    S:steel=true

    # Whether Stone should be used for armor parts
    S:stone=true

    # Whether String should be used for armor parts
    S:string=true

    # Whether TNT should be used for armor parts
    S:tnt=true

    # Whether Treated Wood should be used for armor parts
    S:treatedwood=true

    # Whether Vines should be used for armor parts
    S:vine=true

    # Whether Wood should be used for armor parts
    S:wood=true
}


