# Configuration file

clipboard {
    I:0 <
        28
        99
        104
        105
        115
        101
        108
        115
        97
        110
        100
        98
        105
        116
        115
        58
        99
        104
        105
        115
        101
        108
        101
        100
        95
        114
        111
        99
        107
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        31
        109
        105
        110
        101
        99
        114
        97
        102
        116
        37
        51
        65
        115
        116
        111
        110
        101
        63
        118
        97
        114
        105
        97
        110
        116
        61
        115
        116
        111
        110
        101
        3
        0
        1
        115
        0
        0
        0
        63
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        62
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        -112
        71
        22
        41
        46
        -55
        -49
        75
        -75
        47
        75
        44
        -54
        76
        -52
        43
        -79
        5
        -13
        24
        24
        26
        88
        -2
        -45
        18
        -4
        1
        66
        74
        -28
        71
        1
        -51
        1
        0
        68
        4
        16
        -84
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
    I:1 <
        28
        99
        104
        105
        115
        101
        108
        115
        97
        110
        100
        98
        105
        116
        115
        58
        99
        104
        105
        115
        101
        108
        101
        100
        95
        114
        111
        99
        107
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        31
        109
        105
        110
        101
        99
        114
        97
        102
        116
        37
        51
        65
        115
        116
        111
        110
        101
        63
        118
        97
        114
        105
        97
        110
        116
        61
        115
        116
        111
        110
        101
        3
        0
        1
        115
        0
        0
        0
        63
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        58
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        -112
        71
        22
        41
        46
        -55
        -49
        75
        -75
        47
        75
        44
        -54
        76
        -52
        43
        -79
        5
        -13
        24
        24
        26
        88
        -2
        -113
        96
        -16
        -3
        -1
        40
        0
        0
        78
        -68
        16
        -80
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
    I:2 <
        28
        99
        104
        105
        115
        101
        108
        115
        97
        110
        100
        98
        105
        116
        115
        58
        99
        104
        105
        115
        101
        108
        101
        100
        95
        114
        111
        99
        107
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        29
        109
        105
        110
        101
        99
        114
        97
        102
        116
        37
        51
        65
        98
        111
        110
        101
        95
        98
        108
        111
        99
        107
        63
        97
        120
        105
        115
        61
        121
        3
        0
        1
        115
        0
        0
        0
        63
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        60
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        -112
        69
        22
        73
        -54
        -49
        75
        -115
        79
        -54
        -55
        79
        -50
        -74
        79
        -84
        -56
        44
        -74
        -83
        100
        96
        104
        96
        -7
        63
        10
        -122
        45
        -88
        39
        66
        30
        0
        -2
        -101
        14
        -85
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
}


