# Configuration file

lamps {
    # Are the classic lamps registered? Uses 48 block IDs.
    B:classic=true

    # Are the lantern lamps registered? Uses 48 block IDs.
    B:lantern=true

    # Are the modern lamps registered? Uses 48 block IDs.
    B:modern=true

    # Are the pulsating lamps registered? Uses 48 block IDs.
    B:pulsating=true
}


