# Configuration file

##########################################################################################################
# biomes
#--------------------------------------------------------------------------------------------------------#
# Biome configuration
##########################################################################################################

biomes {
    B:disableAlps=false
    B:disableBadlands=false
    B:disableBlackBeach=false
    B:disableBlackDesert=false
    B:disableBlossomWoods=false
    B:disableBlueMountains=false
    B:disableBlueTaiga=false
    B:disableColdDesert=false
    B:disableColdPlateau=false
    B:disableCrimsonWoods=false
    B:disableDryPlateau=false
    B:disableDunes=false
    B:disableFens=false
    B:disableFrozenLake=false
    B:disableFrozenPlateau=false
    B:disableGlacier=false
    B:disableGrassland=false
    B:disableGreenBeach=false
    B:disableGreenExtremeHills=false
    B:disableGreenHills=false
    B:disableGreenPlateau=false
    B:disableGreyMountains=false
    B:disableHighlands=false
    B:disableLake=false
    B:disableLushForest=false
    B:disableLushSwamp=false
    B:disableMeadow=false
    B:disableMysticWoods=false
    B:disableOrangeBeach=false
    B:disableOvergrownPlains=false
    B:disablePinelands=false
    B:disablePinkBeach=false
    B:disablePlateau=false
    B:disablePurpleBeach=false
    B:disableRainforest=false
    B:disableRedBeach=false
    B:disableRedMountains=false
    B:disableRedPlateau=false
    B:disableRockland=false
    B:disableSahel=false
    B:disableShrubland=false
    B:disableSilkglades=false
    B:disableSpruceWoods=false
    B:disableSteppe=false
    B:disableThicket=false
    B:disableTundra=false
    B:disableTundraSpikes=false
    B:disableWhiteBeach=false
    B:disableWhiteDesert=false
    B:disableWoodlands=false
}


##########################################################################################################
# ores
#--------------------------------------------------------------------------------------------------------#
# Ore configuration
##########################################################################################################

ores {
    # Ankerite Per Chunk [range: 0 ~ 100, default: 5]
    I:ankeritePerChunk=0

    # Anthracite Per Chunk [range: 0 ~ 100, default: 8]
    I:anthracitePerChunk=0

    # Banded Per Chunk [range: 0 ~ 100, default: 5]
    I:bandedPerChunk=0

    # Bituminous Per Chunk [range: 0 ~ 100, default: 8]
    I:bituminousPerChunk=0

    # Danlveyite Per Chunk [range: 0 ~ 100, default: 25]
    I:danlveyitePerChunk=0

    # Goethite Per Chunk [range: 0 ~ 100, default: 5]
    I:goethitePerChunk=0

    # Hematite Per Chunk [range: 0 ~ 100, default: 5]
    I:hematitePerChunk=0

    # Kamboradoite Per Chunk [range: 0 ~ 100, default: 25]
    I:kamboradoitePerChunk=0

    # Lignite Per Chunk [range: 0 ~ 100, default: 8]
    I:lignitePerChunk=0

    # Limonite Per Chunk [range: 0 ~ 100, default: 5]
    I:limonitePerChunk=0

    # Magachite Per Chunk [range: 0 ~ 100, default: 25]
    I:magachitePerChunk=0

    # Magnetite Per Chunk [range: 0 ~ 100, default: 5]
    I:magnetitePerChunk=0

    # Meliscite Per Chunk [range: 0 ~ 100, default: 25]
    I:meliscitePerChunk=0

    # Peat Per Chunk [range: 0 ~ 100, default: 8]
    I:peatPerChunk=0

    # Siderite Per Chunk [range: 0 ~ 100, default: 5]
    I:sideritePerChunk=0

    # Solitudite Per Chunk [range: 0 ~ 100, default: 25]
    I:solituditePerChunk=0

    # Taconite Per Chunk [range: 0 ~ 100, default: 5]
    I:taconitePerChunk=0

    # Thenalite Per Chunk [range: 0 ~ 100, default: 25]
    I:thenalitePerChunk=0
}


##########################################################################################################
# rocks
#--------------------------------------------------------------------------------------------------------#
# Rock configuration
##########################################################################################################

rocks {
    # Alikite Per Chunk [range: 0 ~ 100, default: 5]
    I:alikitePerChunk=0

    # Basalt Per Chunk [range: 0 ~ 100, default: 5]
<<<<<<< HEAD
    I:basaltPerChunk=0

    # Black Diorite Per Chunk [range: 0 ~ 100, default: 5]
    I:blackdioritePerChunk=0

    # Blue Schist Per Chunk [range: 0 ~ 100, default: 5]
    I:blueschistPerChunk=0

    # Chalk Per Chunk [range: 0 ~ 100, default: 5]
    I:chalkPerChunk=0

    # Gabbro Per Chunk [range: 0 ~ 100, default: 5]
    I:gabbroPerChunk=0

    # Gneiss Per Chunk [range: 0 ~ 100, default: 5]
    I:gneissPerChunk=0

    # Green Schist Per Chunk [range: 0 ~ 100, default: 5]
    I:greenschistPerChunk=0

    # Imperial Quartzite Per Chunk [range: 0 ~ 100, default: 5]
    I:imperialquartzitePerChunk=0

    # Kimberlite Per Chunk [range: 0 ~ 100, default: 5]
    I:kimberlitePerChunk=0
=======
    I:basaltPerChunk=1

    # Black Diorite Per Chunk [range: 0 ~ 100, default: 5]
    I:blackdioritePerChunk=1

    # Blue Schist Per Chunk [range: 0 ~ 100, default: 5]
    I:blueschistPerChunk=1

    # Chalk Per Chunk [range: 0 ~ 100, default: 5]
    I:chalkPerChunk=1

    # Gabbro Per Chunk [range: 0 ~ 100, default: 5]
    I:gabbroPerChunk=1

    # Gneiss Per Chunk [range: 0 ~ 100, default: 5]
    I:gneissPerChunk=1

    # Green Schist Per Chunk [range: 0 ~ 100, default: 5]
    I:greenschistPerChunk=1

    # Imperial Quartzite Per Chunk [range: 0 ~ 100, default: 5]
    I:imperialquartzitePerChunk=1

    # Kimberlite Per Chunk [range: 0 ~ 100, default: 5]
    I:kimberlitePerChunk=1
>>>>>>> 3d20e382d0bc84559b09b852046a2c351b88be66

    # Krundaltite Per Chunk [range: 0 ~ 100, default: 5]
    I:krundaltitePerChunk=0

    # Limestone Per Chunk [range: 0 ~ 100, default: 5]
<<<<<<< HEAD
    I:limestonePerChunk=0
=======
    I:limestonePerChunk=1
>>>>>>> 3d20e382d0bc84559b09b852046a2c351b88be66

    # Marble Per Chunk [range: 0 ~ 100, default: 5]
    I:marblePerChunk=0

    # Migmatite Per Chunk [range: 0 ~ 100, default: 5]
    I:migmatitePerChunk=0

    # Pink Quartzite Per Chunk [range: 0 ~ 100, default: 5]
    I:pinkquartzitePerChunk=0

    # Pumice Per Chunk [range: 0 ~ 100, default: 5]
    I:pumicePerChunk=0

    # Red Quartzite Per Chunk [range: 0 ~ 100, default: 5]
    I:redquartzitePerChunk=0

    # Rhyolite Per Chunk [range: 0 ~ 100, default: 5]
    I:rhyolitePerChunk=0

    # Scoria Per Chunk [range: 0 ~ 100, default: 5]
    I:scoriaPerChunk=0

    # Slate Per Chunk [range: 0 ~ 100, default: 5]
    I:slatePerChunk=0

    # Soapstone Per Chunk [range: 0 ~ 100, default: 5]
    I:soapstonePerChunk=0

    # Triglicite Per Chunk [range: 0 ~ 100, default: 5]
    I:triglicitePerChunk=0
}


