# Configuration file

general {
    # Whether Blue Aercloud is enabled or not.
    B:aercloudBlue=true

    # Whether Cold Aercloud is enabled or not.
    B:aercloudCold=true

    # Whether Gold Aercloud is enabled or not.
    B:aercloudGold=true

    # Whether Candy Cane is enabled or not.
    B:candycane=true

    # Whether Darts and Dart Shooters are enabled or not.
    B:darts=true

    # Whether Golden Amber is enabled or not.
    B:goldenamber=true

    # Whether Gravitite is enabled or not.
    B:gravitite=true

    # Whether Gravitite can be used to make a tool forge.
    B:gravititeForge=true

    # Whether Holystone is enabled or not.
    B:holystone=true

    # Whether Skyroot is enabled or not.
    B:skyroot=true

    # Whether Swet is enabled or not.
    B:swet=true

    # Whether Valkyrie Metal is enabled or not.
    B:valkyrie=true

    # Whether Valkyrie Metal (if enabled) can be used to make a tool forge.
    B:valkyrieForge=true

    # Whether Zanite is enabled or not.
    B:zanite=true
}


