# Configuration file

##########################################################################################################
# control
#--------------------------------------------------------------------------------------------------------#
# Settings for Valkyrien Warfare's control module
##########################################################################################################

control {

    power {

        engine {
            # engine power for the advanced engine
            D:advancedEnginePower=6000.0

            # engine power for the basic engine
            D:basicEnginePower=4000.0

            # engine power for the elite engine
            D:eliteEnginePower=8000.0

            # Multiplied by the redstone power (0-15) to the Redstone engine
            D:redstoneEnginePower=500.0

            # engine power for the ultimate engine
            D:ultimateEnginePower=16000.0
        }

        compressor {
            # engine power for the advanced Ether Compressor
            D:advancedEtherCompressorPower=45000.0

            # engine power for the basic Ether Compressor
            D:basicEtherCompressorPower=25000.0

            # engine power for the elite Ether Compressor
            D:eliteEtherCompressorPower=80000.0

            # engine power for the ultimate Ether Compressor
            D:ultimateEtherCompressorPower=100000.0
        }

    }

}


general {
    # Debug feature, takes a lot of processing power
    B:"Enable accurate rain on ships"=false

    # Enables the airship permissions system
    B:"Enable airship permissions"=false

    # Ex. Torch Particles
    B:"Enable particle spawns on Ships"=true

    # Players can't own more than this many airships at once. Set to -1 to disable.
    I:"Max airships per player"=-1

    # The number of threads to use for physics. If thread count <= 0 it will use the system core count.
    I:"Physics thread count"=-1
    D:"Ship Y-Height Maximum"=1000.0
    D:"Ship Y-Height Minimum"=-30.0

    # The spawn rate for ship mobs
    D:"The spawn rate for ship mobs"=0.01
}


