# Configuration file

general {
    # Block registry names for fluids that should be made finite
    S:finiteFluids <
        water
     >

    # Biomes in which these fluids should be infinite
    S:infiniteBiomes <
        minecraft:ocean
        minecraft:beaches
        minecraft:river
        minecraft:swamp
        minecraft:mushroom_island
        minecraft:mushroom_island_shore
        minecraft:deep_ocean
        minecraft:stone_beach
        minecraft:cold_beach
        minecraft:void
        minecraft:mutated_swampland
        traverse:green_swamp
        traverse:temperate_rainforest
        aether_legacy:aether_highlands
     >

    # Dimensions in which these fluids should be infinite
    I:infiniteDimensions <
     >

    # Minimum y-level in which fluids can form new source blocks.
    # Min: 0
    # Max: 255
    I:maxHeight=255

    # Maximum y-level in which fluids can form new source blocks.
    # Min: 0
    # Max: 255
    I:minHeight=0
}


