# Configuration file

general {
    # Whether or not you want to recieve an in-game notification if an update is available.
    B:checkForUpdates=true

    # If Thaumcraft is installed, whether or not you want to enable the Hungry Metal Chests and their upgrades.
    B:enableHungryMetalChests=true

    # Whether or not you want to enable the Minecarts with Metal Chests.
    B:enableMinecarts=true

    # If Refined Relocation 2 is installed, whether or not you want to enable the Hungry Sorting Metal Chests.
    B:enableSortingMetalChests=true

    # Whether or not metal chest models are like the vanilla chest; black in the middle.
    B:hollowModelTextures=true
}


